{% extends 'pages/base.html' %}


{% block title %}
    About
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/topik.css') }}">
{% endblock css %}

{% block content %}
<div class="colored">
    <section class="first-block">
        <div>
            <h1>Из режисеров в журналисты за год</h1>
        </div>
        <img src="{{ url_for('static', filename='img/first.jpeg') }}" alt="">
    </section>
</div>
<div class="wrapper">
    <div class="text">
        <h2 class="title">Как все началось</h2>
        <p>Я люблю все широкое, мягкое и удобное, так чтобы не было видно фигуру. Иногда всем своим видом я
            похожу на мальчишку-подростка.

            А иногда меня клинит, и я надеваю такие обтягивающие брюки, что при неловком движении могут
            порваться.
            Постоянно натыкаюсь на все углы, столы, двери, поэтому моя гола и ноги всегда в синяках.
            <br>
            Я люблю торопить события. Совсем не могу жить моментом, но при этом в некоторых хочу остаться
            навсегда.
            Люблю, когда эмоции настолько сильные, что я не могу сдержаться, начинаю реветь.

            Люблю рано утром заваривать чёрный кофе, курить и мерзнуть на улице с мокрой головой, дрожа при
            этом всем телом, но улыбаясь солнцу. (Саша против (просил не вычёркивать ахах)
            <br>
            Люблю есть горячий кекс с шоколадом, размазывая его по тарелке.
            Люблю, когда все красиво, тепло и уютно.</p>

        <img src="{{ url_for('static', filename='img/about.jpeg') }}" alt="">
        <h2 class="title">И еще</h2>
        <p>
            Люблю, когда ветер в лицо и невозможно перестать улыбаться, потому что зубы холодные
            Люблю и ненавижу все делать в последний момент
            Люблю раздеваясь разбрасывать вещи, корчить рожицы в зеркале, много целовать любимых.
            <br>
            Так ведь просто сказать: «проехали»
            Ненавижу, когда все стабильно, монотонно и серо/ когда слушают и не слышат/ когда дорогие мне
            люди перестают звонить, хочется засунуть свою и их гордость куда подальше.</p>
    </div>
</div>
{% endblock content %}